- var docTitle = title + " - MovieDb";
mixin head(title)
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title= docTitle
        link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap' rel='stylesheet')
        script(src='https://kit.fontawesome.com/58bdb90af5.js' crossorigin='anonymous')
        link(rel='stylesheet' href='/stylesheets/')
        script(src="/jquery/jquery.js")
        script(src="/bootstrap/js/bootstrap.bundle.min.js")
        