link(rel="stylesheet", href="/stylesheets/navbar.css")
header
  img.logo(src='/images/Logo-w.png' alt='')
  nav
    ul.nav-links
      li
        a(href='/') Home
      li
        a(href='/movies') Movies
      if session && session.Loggedin
        li
          a(href='/users/' + session.uid) Profile
        li
          a(href='/logOutUser') Logout
      else
        li
          a(href='/login') Login
        a.cta(href='/signup')
          button Sign Up
  