#page-wrapper {
	background-color: rgb(189, 186, 182);
}
#page-content {
	padding-top: 0;
	height: 1800px;
	width: 1150px;
	background-color: white;
	margin: 0 auto;
}
#person-content {
	padding-left: 20px;
	padding-right: 20px;
	float: left;
	height: 100%;
	width: 65%;
}
#name {
	display: inline-block;
	padding-right: 25px;
}
#follow-btn {
	margin-bottom: 20px;
}
#unfollow-btn {
	display: none;
	margin-left: 15px;
	margin-bottom: 20px;
}
#person-details {
	padding: 25px;
	width: 100%;
}
#related-persons {
	padding: 10px;
	width: 100%;
	height: 500px;
}
#side-bar {
	float: right;
	height: 100%;
	width: 35%;
	background-color: rgb(155, 155, 155);
}
