@import "root.css"; 
.search {
	margin-top: 25px;
	text-align: center;
}

body {
	margin: 0;
	background-color: var(--main-bg-color);
}
.movies {
	height: auto;
	padding: 0;
}
.movies ul {
	text-align: center;
	padding: 0px;
	margin: 0;
}
.movies li {
	display: inline-block;
	padding-bottom: 13px;
	margin: 10px;
}
.movie-tile {
	padding: 0;
	background-color: var(--light-grey);
	border-radius: 15px;
	box-shadow: 0 -1px 15px rgba(0, 0, 0, 0.507);
}
.poster{
	height: 216px;
	width: 150px;
	border-radius: 10px 10px 0 0;
}
.movie-tile:hover {
	cursor: pointer;
	transition: box-shadow 0.15s linear, opacity 0.15s linear;
	-webkit-transform: scale(1.05, 1.05);
	box-shadow: 0 0 15px -1px var(--blue);
	transition: all 0.15s linear;

}
.movie-tile a, .movie-tile a:hover {
	text-decoration: none !important;
	color: inherit;
}
.movie-tile-title {
	font-family: "Lato", sans-serif;
	font-weight: 500;
	color: var(--text-color);
	padding: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: auto;
	width: 150px;
}
.search{
	padding: 25px;
}
.input{
	background-color: #0f0f0fb9;
}

@media only screen and (max-width: 1000px){
	#inputTitle{
		width: 100%;
		margin-bottom: 15px;
	}
	#inputGenre{
		width: 100%;
		margin-bottom: 15px;
	}
	#inputYear{
		width: 100%;
		margin-bottom: 15px;
	}
	#inputRating{
		width: 100%;
		margin-bottom: 15px;
	}
	#searchBtn{
		width: 100%;
		margin-bottom: 15px;
	}
}
@media only screen and (min-width: 768px){

}

@media only screen and (min-width: 1000px){
	.movies {
		padding: 0 50px 0 50px;
	}
	.poster{
		height: 300px;
		width: 208px;
	}
	.search{
		padding: 0 15% 0 15%;
	}
	.form-group .form-control{
		display: inline-block;
		width: 11px;
	}
	.movie-tile-title {
		width: 208px
	}
	#inputTitle{
		width: 45%;
	}
	#inputGenre, #inputYear, #inputRating{
		width: auto;
	}
	#searchBtn{
		border-radius: 0 5px 5px 0;
	}
	#test{
		background-color: #2b2b31b9;
		border: gray ;
		border-radius: 5px;
		padding: .375rem .75rem;
	}
}